<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JFrog HOME PAGE</title>
    <!-- <link rel="stylesheet" href="../aara/styles/index.css"> -->
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
  <div>
    <div class="logo-container">
        <div id="logo">
            <h1><a href="../index.html">JFrog..</a></h1>
        </div>
        <div>
            <ul class="nav-button">
                <li><a href="../aara/index.html">home</a></li>
                <li><a href="../aara/views/about.html">about</a></li>
                <li><a href="../aara/views/product.html">products</a></li>
                <li><a href="../aara/views/services.html">service</a></li>
                <li><a href="../aara/views/contactus.html">contat us</a></li>
                <li><a href="../aara/views/sales.html">sales</a></li>
                
            </ul>
        </div>
    </div>
    <div>
        <div>
            <h5>hello</h5>
        </div>
    </div>
  </div>
</body>
</html>